/* user add container */
.adduser_container {
  width: 1080px;
  margin: 100px auto;
}

/* user add inner */
.adduser_inner {
  position: relative;
  display: flex;
  justify-content: space-between;
}

/* user add text */
.text_container {
  width: 490px;
  height: 100%;
  position: relative;
}

.title_box {
  width: 100%;
  height: 52px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title {
  color: #00529c;
  width: 100px;
  height: 100%;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 52px;
}

.line {
  display: inline-block;
  width: 68px;
  height: 1px;
  background-color: #00529c;
  margin-left: 20px;
}

.main_text {
  width: 490px;
  color: #00529c;
  font-weight: bold;
  font-size: 5.5rem;
  margin-left: 4px;
  margin-top: 26px;
}

.sub_text {
  width: 446px;
  height: 58px;
  color: #00529c;
  font-size: 1.6rem;
  line-height: 24px;
  margin-left: 4px;
  margin-top: 26px;
}

.message {
  color: #ED6A72;
}

/* user add form */
input {
  border: none;
  font-size: 1.6rem;
  font-weight: 400;
}
input::placeholder {
  font-size: 1.6rem;
  font-weight: 400;
  color: #bababa;
}

.form_container {
  width: 570px;
}

.input_form_container {
  width: 570px;
  margin-top: 260px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.email_form {
  width: 270px;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid #bababa;
  position: relative;
}

.email_form input {
  vertical-align: middle;
  padding-top: 2px;
  margin-left: 40px;
  color: #00529c;
  width: 100%;
}

.email_form input[type=email]+label {
  display: inline-block;
  position: absolute;
  left: 5px;
  width: 25px;
  height: 25px;
  background: url('../../images/icon_mail_off_gray.svg') no-repeat center;
}

.email_form input[type=email]:focus+label {
  background: url('../../images/icon_mail_on_navy.svg') no-repeat center;
}

.name_form {
  width: 270px;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid #bababa;
  position: relative;
}

 .name_form input {
  vertical-align: middle;
  padding-top: 2px;
  color: #00529c;
  margin-left: 40px;
  width: 100%;
}

.name_form input[type=text]+label {
  display: inline-block;
  position: absolute;
  left: 7px;
  bottom: 7px;
  width: 25px;
  height: 25px;
  background: url('../../images/icon_name_off_gray.svg') no-repeat center;
}

.name_form input[type=text]:focus+label {
  background: url('../../images/icon_name_on_navy.svg') no-repeat center;
}

.password_form,
.con_password_form,
.department_form,
.duty_form {
  width: 270px;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid #bababa;
  margin-top: 24px;
  position: relative;
}

.password_form input,
.con_password_form input,
.department_form input {
  vertical-align: middle;
  padding-top: 2px;
  margin-left: 40px;
  color: #00529c;
}

.password_form input[type=password]+label,
.con_password_form input[type=password]+label {
  display: inline-block;
  position: absolute;
  left: 7px;
  bottom: 7px;
  width: 25px;
  height: 25px;
  background: url('../../images/icon_lock_off_gray.svg') no-repeat center;
}

.password_form input[type=password]:focus+label,
.con_password_form input[type=password]:focus+label {
  background: url('../../images/icon_lock_on_navy.svg') no-repeat center;
}

.department_form input[type=text]+label {
  display: inline-block;
  position: absolute;
  left: 7px;
  bottom: 7px;
  width: 25px;
  height: 25px;
  background: url('../../images/icon_company_off_gray.svg') no-repeat center;
}

.department_form input[type=text]:focus+label {
  background: url('../../images/icon_company_on_navy.svg') no-repeat center;
}

.duty_select {
  font-size: 1.6rem;
  display: inline-block;
  vertical-align: middle;
  color: #bababa;
  margin-left: 40px;
  border: none;
  width: 100px;
  margin-bottom: 20px;
  font-weight: 400;
}

.duty_form label {
  display: inline-block;
  position: absolute;
  left: 7px;
  bottom: 7px;
  width: 25px;
  height: 25px;
  background: url('../../images/icon_company_off_gray.svg') no-repeat center;
}

.duty_form select:focus+label {
  background: url('../../images/icon_company_on_navy.svg') no-repeat center;
}

.email_form:focus-within,
.name_form:focus-within,
.password_form:focus-within,
.con_password_form:focus-within,
.department_form:focus-within,
.duty_form:focus-within {
  border-bottom: 1px solid #00529c;
}

/* button */
.add_btn {
  width: 160px;
  height: 60px;
  float: right;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #bababa;
  color: #fff;
  font-size: 2rem;
  transition: background 0.3s ease;
  font-weight: 400;
}

.on {
  background-color: #ED6A72;
}

.on:hover {
  background-color: #FF9299;
}
