/* user edit container */
.edituser_container {
  width: 1080px;
  margin: 100px auto;
}

/* user edit inner */
.edituser_container_inner {
  position: relative;
  display: flex;
  justify-content: space-between;
}

/* user edit text */
.text_container {
  width: 490px;
  height: 100%;
  position: relative;
}

.title_box {
  width: 100%;
  height: 52px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title {
  color: #00529c;
  width: 141px;
  height: 100%;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 52px;
}

.line {
  display: inline-block;
  width: 68px;
  height: 1px;
  background-color: #00529c;
  margin-left: 20px;
}

.main_text {
  width: 490px;
  color: #00529c;
  font-weight: bold;
  font-size: 5.5rem;
  margin-left: 4px;
  margin-top: 26px;
}

.sub_text {
  width: 446px;
  height: 58px;
  color: #00529c;
  font-size: 1.6rem;
  line-height: 28px;
  margin-left: 4px;
  margin-top: 26px;
}

.message {
  color: #ED6A72;
}

/* user edit form */
input {
  border: none;
  font-size: 1.6rem;
  font-weight: 400;
}

input::placeholder {
  font-size: 1.6rem;
  font-weight: 400;
  color: #bababa;
}

.form_container {
  position: relative;
}

.input_form_container {
  width: 570px;
  margin-top: 260px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.email_form {
  width: 570px;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid #bababa;
  position: relative;
}

.email_form input {
  margin-left: 10px;
  width: 100%;
  margin-left: 40px;
  color: #00529c;
}

.email_form input::placeholder {
  color: #000;
}

.email_form input[type=email]+label {
  display: inline-block;
  position: absolute;
  left: 5px;
  bottom: 7px;
  width: 25px;
  height: 25px;
  background: url('../../images/icon_mail_off.svg') no-repeat center;
}

.name_form {
  width: 570px;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid #bababa;
  margin-top: 24px;
  position: relative;
}

.name_form input {
  vertical-align: middle;
  padding-top: 2px;
  margin-left: 40px;
  width: 100%;
  color: #00529c;
  font-weight: 400;
}

.name_form input[type=text]+label {
  display: inline-block;
  position: absolute;
  left: 7px;
  bottom: 7px;
  width: 25px;
  height: 25px;
  background: url('../../images/icon_name_off_gray.svg') no-repeat center;
}

.name_form input[type=text]:focus+label {
  background: url('../../images/icon_name_on_navy.svg') no-repeat center;
}

.department_form {
  width: 570px;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid #bababa;
  margin-top: 24px;
  position: relative;
}

.department_form input {
  padding-top: 2px;
  margin-left: 40px;
  width: 100%;
  color: #00529c;
  font-weight: 400;
}

.department_form input[type=text]+label {
  display: inline-block;
  position: absolute;
  left: 7px;
  bottom: 7px;
  width: 25px;
  height: 25px;
  background: url('../../images/icon_company_off_gray.svg') no-repeat center;
}

.department_form input[type=text]:focus+label {
  background: url('../../images/icon_company_on_navy.svg') no-repeat center;
}

.name_form:focus-within,
.department_form:focus-within {
  border-bottom: 1px solid #00529c;
}

/* button */
.button_form_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 30px;
}

#withdraw_button_form {
  width: 160px;
  height: 60px;
  margin-right: 24px;
  border: none;
  background-color: #bababa;
  color: #fff;
  font-size: 2rem;
  transition: background 0.3s ease;
}

#withdraw_button_form:hover {
  background-color: #C7C7C7;
}

.save_btn {
  width: 160px;
  height: 60px;
  border: none;
  background-color: #bababa;
  color: #fff;
  font-size: 2rem;
  transition: background 0.3s ease;
  font-weight: 400;
}

.on {
  background: #ED6A72;
}

.on:hover {
  background: #FF9299;
}
