/* user detail container */
.userdetail_container {
  width: 1080px;
  margin: 100px auto;
}

/* user detail inner */
.userdetail_container_inner {
  position: relative;
}

.title {
  font-weight: bold;
  font-size: 2.8rem;
  position: relative;
  font-weight: bold;
  margin-bottom: 12px;
}

/* user information */
.detail_table {
  width: 100%;
  height: auto;
  text-align: left;
  border: 1px solid #dbdbdb;
}

.detail_thead {
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;
}

.info_email {
  font-size: 1.6rem;
  font-weight: bold;
  margin-left: 22px;
}

.detail_row {
  height: 40px;
}

.detail_tbody {
  margin-top: 16px;
  margin-left: 22px;
}

.index {
  width: 125px;
  font-weight: 500;
  display: inline-block;
  height: 25px;
  margin-bottom: 20px;
  font-size: 1.6rem;
}

.content {
  font-weight: 400;
  display: inline-block;
  height: 25px;
  font-size: 1.6rem;
  text-align: left;
  margin-left: 10px;
}

/* user duty select form */
.user_duty {
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.duty_user {
  font-size: 1.6rem;
  display: inline-block;
  vertical-align: middle;
  color: #bababa;
  border: none;
  width: 73px;
  font-weight: bold;
}

.duty_admin {
  color: #bababa;
  font-weight: bold;
  font-size: 1.6rem;
  display: inline-block;
}

.user_duty::before {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 30px;
  background: #dbdbdb;
  margin-left: -100px;
}

/* button */
.button_container {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cancel_btn {
  width: 160px;
  height: 40px;
  border: none;
  background-color: #bababa;
  color: #fff;
  font-size: 1.6rem;
  transition: background 0.3s ease;
  font-weight: 400;
}

.cancel_btn:hover {
  background-color: #C7C7C7;
}

.ok_btn {
  width: 160px;
  height: 40px;
  border: none;
  background-color: #00529c;
  color: #fff;
  font-size: 1.6rem;
  display: inline-block;
  transition: background 0.3s ease;
  margin-left: 20px;
  font-weight: 400;
}

.ok_btn:hover {
  background-color: #0086ff;
}
