.add_banner_container {
  width: 1080px;
  margin: 100px auto;
}

.add_banner_inner {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.text_container {
  width: 490px;
  height: 100%;
  position: relative;
}

.title_box {
  width: 100%;
  height: 52px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title {
  color: #00529c;
  width: 120px;
  height: 100%;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 52px;
}

.line {
  display: inline-block;
  width: 68px;
  height: 1px;
  background-color: #00529c;
  margin-left: 20px;
}

.main_text {
  width: 490px;
  color: #00529c;
  font-weight: bold;
  font-size: 5.5rem;
  margin-left: 4px;
  margin-top: 26px;
}

.sub_text {
  width: 446px;
  height: 58px;
  color: #00529c;
  font-size: 1.8rem;
  line-height: 28px;
  margin-left: 4px;
  margin-top: 26px;
}

.message {
  color: #ED6A72;
}

input {
  border: none;
  font-size: 1.6rem;
  font-weight: 400;
}

input::placeholder {
  font-size: 1.6rem;
  font-weight: 400;
  color: #bababa;
}

.form_container {
  width: 570px;
}

.input_form_container {
  width: 570px;
  margin-top: 78px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form {
  width: 270px;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid #bababa;
  position: relative;
  margin-top: 18px;
}

.form input {
  vertical-align: middle;
  padding-top: 2px;
  margin-left: 10px;
  color: #00529c;
  width: 100%;
}

.form:focus-within {
  border-bottom: 1px solid #00529c;
}

.position_form,
.target_form{
  width: 160px;
}
.title_form,
.link_form {
  width: 380px;
}
.banner_content_form{
  width: 570px;
}


.image_form {
  margin-top: 16px;
  width: 570px;
  height: auto;
}
.image_form input{
  width: 270px;
  height: auto;
  margin-bottom: 10px;
}
.imageDiv {

}
.imageDiv img{
  max-width: 200px;
  height: auto;
  margin-bottom: 10px;
}

select {
  font-size: 1.6rem;
  display: inline-block;
  vertical-align: middle;
  color: #bababa;
  margin-left: 10px;
  border: none;
  width: 90%;
  margin-bottom: 20px;
  font-weight: 400;
}

/* button */
.button_form_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 30px;
}

.gotolist_btn {
  width: 160px;
  height: 60px;
  margin-right: 24px;
  border: none;
  background-color: #bababa;
  color: #fff;
  font-size: 2rem;
  transition: background 0.3s ease;
  font-weight: 400;
}

.gotolist_btn:hover {
  background-color: #C7C7C7;
}

.add_btn {
  width: 160px;
  height: 60px;
  border: none;
  background-color: #bababa;
  color: #fff;
  font-size: 2rem;
  transition: background 0.3s ease;
  font-weight: 400;
}

.on {
  background: #ED6A72;
}

.on:hover {
  background: #FF9299;
}
