.boarddetail_container {
  width: 1080px;
  margin: 120px auto;
}

.boarddetail_container_inner {
  position: relative;
  margin-left: 1px;
}

.title_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.title {
  font-size: 3rem;
  line-height: 32px;
  vertical-align: bottom;
}

.board_detail_table {
  width: 1080px;
  height: auto;
  border: 1px solid #e4e4e4;
  min-height: 280px;
  position: relative;
}

.board_detail_thead {
  width: 100%;
  min-height: 55px;
  border-bottom: 1px solid #e4e4e4;
}

.board_detail_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.board_detail_row .board_detail_cell {
  margin: 18px 22px;
}

.board_title {
  font-weight: bold;
  font-size: 1.6rem;
  text-align: left;
  flex-grow: 1;
  overflow: hidden;
  word-wrap: break-word;
}

.board_writer {
  font-weight: 500;
  font-size: 1.6rem;
}

.board_date {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: right;
  line-height: 15px;
  width: 100px;
  position: absolute;
  top: 0;
  right: 0;
}

.board_content {
  line-height: 22px;
  font-size: 1.5rem;
  max-width: 940px;
  overflow: hidden;
  word-wrap: break-word;
}

/* file */
.board_file_data {
  width: 1080px;
  min-height: 40px;
  height: auto;
  display: flex;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  border: 1px solid #e4e4e4;
  border-top: none;
}

.board_file_data span {
  width: 100px;
  display: inline-block;
  color: #ed6a72;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}

.file_data {
  display: flex;
  align-items: center;
}

.file_data img {
  max-width: 100px;
  max-height: 100px;
}

.file_data video {
  max-width: 100px;
  max-height: 100px;
}

.file_data .file_info {
  display: inline-flex;
}

.file_info .row {
  min-width: 200px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  margin-bottom: 6px;
  border-right: 1px solid #e4e4e4;
}

.file_info .row:last-child {
  margin-right: 0;
  margin-bottom: 0;
  border: none;
}

.file_info .row p {
  font-size: 1.6rem;
  text-align: center;
}

.file_info a {
  width: 100px;
  display: inline-block;
  color: #ed6a72;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}

/* button */
.button_container {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.board_btn {
  width: 160px;
  height: 40px;
  border: none;
  background-color: #9a9a9a;
  color: #fff;
  font-size: 1.6rem;
  transition: background 0.3s ease;
  margin-right: 10px;
}
.board_btn:last-child{
  margin: 0;
}

.board_btn:hover {
  background-color: #C7C7C7;
}


/* comment div */
.user_cbox {
  box-sizing: border-box;
  margin-top: 28px;
  background: #fafafa;
  padding: 24px 24px;
}

.user_cbox_wrap {}

/* 댓글수 */
.user_cbox_head {
  margin: 12px 0;
  font-size: 1.4rem;
}

.user_cbox_head span {}

/* Add comment */
.user_cbox_write_wrap {
  position: relative;
}

.user_cbox_write_wrap::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -18px;
  background-color: #e4e4e4;
}

.user_cbox_write_wrap form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user_cbox_write {
  flex-grow: 1;
  border: 1px solid #e4e4e4;
}

.user_cbox_upload {}

.user_cbox_upload_btn {
  width: 120px;
  height: 40px;
  border: none;
  background-color: #9a9a9a;
  color: #fff;
  font-size: 1.6rem;
  transition: background 0.3s ease;
  margin-left: 10px;
}

.user_cbox_upload_btn:hover {
  background-color: #00529C;
}

/* comment box  */
.user_cbox_content_wrap {
  margin: 32px 0;
}

/* get comment list  */
.user_cbox_content_wrap ul {
  list-style: none;
}

.user_cbox_list {}

/* get comment detail */
.user_cbox_comment {
  margin: 36px 24px;
}

/* get comment */
.user_cbox_comment_box {
  margin-top: 20px;
}

.user_cbox_area {
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid #e4e4e4;
}

.user_cbox_area span {
  display: block;
  margin: 4px 0;
}

.user_cbox_area .user_cbox_comment_name {
  font-size: 1.2rem;
  font-weight: bold;
}

.user_cbox_area .user_cbox_comment_date {}

.user_cbox_area .user_cbox_comment_content {
  font-size: 1.4rem;
  margin: 8px 8px;
}

.user_cbox_reply_add_btn {
  position: absolute;
  width: 80px;
  height: 28px;
  bottom: 10px;
  right: 0;
  background-color: #9a9a9a;
  color: #fff;
  font-size: 1.2rem;
}

/* get reply */
.user_cbox_reply_area {}

/* get reply list  */
.user_cbox_reply_area .user_cbox_list {}

/* get reply detail */
.user_cbox_reply_area .user_cbox_comment {}

.user_cbox_reply_area .user_cbox_comment_box {}

.user_cbox_reply_area .user_cbox_area {}

.user_cbox_reply_area .user_cbox_area span {}

/* Add reply  */
.user_cbox_reply_write_wrap {
  position: relative;
}

.user_cbox_reply_write_wrap form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user_cbox_reply_write {
  flex-grow: 1;
  border: 1px solid #e4e4e4;
}

.user_cbox_reply_upload {}

.user_cbox_reply_upload_btn {
  width: 80px;
  height: 28px;
  border: none;
  background-color: #9a9a9a;
  color: #fff;
  font-size: 1.2rem;
  transition: background 0.3s ease;
  margin-left: 10px;
  }
.user_cbox_reply_upload_btn:hover{
  background-color: #00529C;

}
/* common */
.hidden{
  display: none;
}

ul {
  list-style: inside;
}
/* summernote */
.boarddetail_container .note-editor {
  font-size: 1.4rem;
  border: none;
}

.boarddetail_container .note-statusbar {
  display: none;
}
