/* transferDetail container */
.transferdetail_container {
  width: 1080px;
  margin: 120px auto;
}

/* transferDetail inner */
.transferdetail_container_inner {
  position: relative;
}

/* title_container */
.title_container {
  font-weight: bold;
  font-size: 3rem;
  height: 32px;
  position: relative;
  font-weight: bold;
  margin-bottom: 30px;
}

/* detail_table */
.detail_table {
  width: 100%;
  height: auto;
  text-align: left;
  border: 1px solid #dbdbdb;
}

.detail_tbody {
  margin: 0 22px;
  font-size: 1.6rem;
}

/* transferInfo */
.transfer_info {
  width: 100%;
  height: auto;
}

.detail_row {
  display: flex;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
}

.detail_row:last-child {
  border: none;
}

.detail_row .index {
  width: 100px;
  height: 25px;
  text-align: left;
  margin-bottom: 10px;
  margin-right: 18px;
  font-weight: bold;
}

.detail_row .content {
  text-align: left;
  margin-bottom: 10px;
}

.transfer_info .detail_row:first-child .detail_cell:first-child,
.transfer_info .detail_row:first-child .detail_cell:last-child {
  margin-top: 20px;
}

.info_header,
.info_param,
.info_dody {
  line-height: 1.8;
  overflow: auto;
}

.info_header span,
.info_param span,
.info_dody span {
  white-space: pre-wrap;
}

/* button */
.transferdetail_container .button_container {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.transferdetail_container .button_container .goto_btn {
  width: 160px;
  height: 40px;
  border: none;
  background-color: #bababa;
  color: #fff;
  font-size: 1.6rem;
  transition: background 0.3s ease;
  font-weight: 400;
}

.transferdetail_container .button_container .goto_btn:hover {
  background-color: #C7C7C7;
}
