/* transferList container */
.transfer_list_container {
  width: 1080px;
  margin: 100px auto;
}

/* payemntList inner */
/* title_container */
.title {
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 32px;
  vertical-align: bottom;
  margin-bottom: 12px
}

/* button */
.btn_container {
  width: 100%;
  height: 30px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.btn_container_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.find {
  width: 140px;
  height: 30px;
  display: inline-block;
  background-color: #fff;
  padding: 0 13px;
  font-size: 1.4rem;
  text-align: center;
  margin-left: 30px;
  margin-right: 15px;
  border: 1px solid #00529c;
}

.search_select {
  width: 100%;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  border: none;
  background-color: #fff;
  outline: none;
  line-height: 28px;
}

.search {
  width: 250px;
  position: relative;
  height: 30px;
  display: inline-block;
  padding: 0 10px;
  background-color: #fff;
  color: #000;
  text-align: center;
  border: 1px solid #00529c;
  align-items: center;
}

.search input {
  width: 90%;
  height: 100%;
  padding: 5px 0;
  border: none;
  outline: none;
  vertical-align: bottom;
  font-size: 1.6rem;
}

.search input::placeholder {
  color: #000;
  font-size: 1.4rem;
}

.search_btn {
  border: none;
  background: none;
  width: 16px;
  height: 16px;
  outline: none;
}

.search_btn img {
  padding-bottom: 2px;
}

/* table */
.transfer_list_container .thead .row .cell:nth-child(1) {
  width: 50px;
}

.transfer_list_container .thead .row .cell:nth-child(2) {
  width: 150px;
}

.transfer_list_container .thead .row .cell:nth-child(3) {
  width: 100px;
}

.transfer_list_container .thead .row .cell:nth-child(4) {
  width: 180px;
}
.transfer_list_container .thead .row .cell:nth-child(5) {
  width: 360px;
}

.transfer_list_container .tbody .row .cell:nth-child(5) {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


/* term search */
.period_container {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  height: 30px;
}

.period_line {
  width: 8px;
  height: 1px;
  margin: 15px 12px;
  background: #00529c;
}

.period_start,
.period_end {
  width: 120px;
  height: 30px;
  display: inline-block;
  background-color: #fff;
  color: #bababa;
  font-size: 1.4rem;
  text-align: center;
  border: 1px solid #dbdbdb;
}

.period_start input,
.period_end input {
  width: 120px;
  height: 30px;
  display: inline-block;
  background-color: #fff;
  color: #bababa;
  font-size: 1.2rem;
  text-align: center;
  border: none;
  width: 80%;
  height: 100%;
  outline: none;
}

.period_start img,
.period_end img {
  border: none;
  width: 12px;
  height: 12px;
}
