/* user Detail container */
.user_detail_container {
  width: 1080px;
  margin: 100px auto;
}

/* user Detail inner */
.user_detail_container_inner {
  position: relative;
}

/* title_container */
.title_container {
  font-weight: bold;
  font-size: 2.8rem;
  position: relative;
  font-weight: bold;
  margin-bottom: 12px;
}

/* detail_table */
.detail_table {
  width: 100%;
  height: auto;
  text-align: left;
  border: 1px solid #dbdbdb;
}

.detail_tbody {
  margin: 0 18px;
  font-size: 1.6rem;
}

/* user Info */
.user_info {
  width: 100%;
  height: auto;
}

.detail_row {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid #f7f7f7;
  height: 48px;
}

.detail_row:last-child {
  border: none;
}

.index {
  width: 280px;
  text-align: left;
  margin-right: 18px;
  margin-left: 6px;
  font-size: 1.6rem;
  font-weight: 500;
}

.content {
  text-align: left;
  font-size: 1.6rem;
  font-weight: 400;
}

.change_info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f7f7f7;
}

.change_grade {
  width: 50%;
  border: none;
  border-right: 1px solid #f7f7f7;
}

.change_duty {
  width: 50%;
  border: none;
  margin-left: 10px;
}

select {
  display: inline-block;
  vertical-align: middle;
  border: none;
  width: 120px;
  color: #00529c;
}

.change_memo {
  width: 100%;
  min-height: 120px;
}

.info_memo {
  min-width: 660px;
  min-height: 120px;
  padding: 20px 0;
}

textarea {
  width: 540px;
  height: 80px;
}

/* input */
input {
  border: none;
  font-size: 1.6rem;
  color: #000;
  min-width: 360px;
  font-weight: 400;
}

input:disabled {
  background: none;
}

/* button */
.button_container {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cancel_btn {
  width: 160px;
  height: 40px;
  border: none;
  background-color: #bababa;
  color: #fff;
  font-size: 1.6rem;
  transition: background 0.3s ease;
  font-weight: 400;
}

.cancel_btn:hover {
  background-color: #C7C7C7;
}

.ok_btn {
  width: 160px;
  height: 40px;
  border: none;
  background-color: #00529c;
  color: #fff;
  font-size: 1.6rem;
  display: inline-block;
  transition: background 0.3s ease;
  margin-left: 20px;
  font-weight: 400;
}

.on {
  background-color: #00529c;
}

.on:hover {
  background-color: #0086ff;
}

.user_detail_container .blind {
  display: none;
}
