.add_board_container {
  width: 1080px;
  margin: 120px auto;
}

.title {
  font-size: 3rem;
  line-height: 32px;
  vertical-align: bottom;
  margin-bottom: 30px;
}

.add_board_detail {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  box-shadow: 0 0 10px 0 rgba(213, 213, 213, 0.50);
}

.board_title_row {
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e4e4e4;
}

.board_index {
  width: 160px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #d8d8d8;
}

.board_index span {
  display: inline-block;
  color: #ed6a72;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}

.board_title {
  text-align: left;
  margin-left: 20px;
}

.board_title input {
  border: none;
  font-size: 1.6rem;
  font-weight: 500;
  min-width: 520px;
}

.board_title input::placeholder {
  font-size: 1.6rem;
  color: #ababab;
  font-weight: 500;
}

/* file upload */
.post_file {
  margin: 10px 0;
  min-height: 30px;
  height: auto;
  display: flex;
  align-items: center;
  position: relative;
}

.post_file span {
  width: 100px;
  display: inline-block;
  color: #ed6a72;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}

.post_file input {
  font-size: 1.4rem;
  text-align: center;
}

.image_form img{
  max-width: 100px;
  max-height: 100px;
}

/* button */
.button_container {
  margin-top: 190px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  right: 0;
}

.cancel_btn {
  width: 160px;
  height: 40px;
  margin-right: 20px;
  border: none;
  background-color: #9a9a9a;
  color: #fff;
  font-size: 1.6rem;
  transition: background 0.3s ease;
}

.cancel_btn:hover {
  background-color: #C7C7C7;
}

.ok_btn {
  width: 160px;
  height: 40px;
  border: none;
  background-color: #9a9a9a;
  color: #fff;
  font-size: 1.6rem;
  transition: background 0.3s ease;
}

.on {
  background-color: #0086ff;
}

.on:hover {
  background-color: #4DABFF;
}

/* summnernote */
.note-frame {
  border: none;
}

.note-toolbar {
  background: #FFFFFF;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px 10px;
  border-bottom: 1px solid #f5f5f5;
}

.note-editor.note-frame .note-editing-area .note-editable {
  font-size: 1.6rem;
  color: #000;
  font-weight: 200;
  padding-top: 20px;
  padding-left: 20px;
}

.note-editor.note-frame {
  border: none;
}

.note-editor.note-frame .note-placeholder {
  font-size: 1.6rem;
  color: #ababab;
  font-weight: 200;
  padding-top: 20px;
  padding-left: 20px;
}

.note-modal-backdrop {
  background: rgba(255, 255, 255, 0.7);
  opacity: 1;
}

.note-modal-content {
  margin: 90px auto;
}
ul{
  list-style: inside;
}
