@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  border: none;
}

h1 {
  margin: 0;
}

input, textarea {
  outline: none;
}

html {
  font-size: 0.625em;
}

body {
  line-height: 1;
  min-width: 360px;
  background-color: #fff;
  font-family: sans-serif;
}

button {
  border: none;
  background: none;
}

[type="button"], [type="submit"], [type="reset"], button, a, label {
  cursor: pointer;
  outline: none;
}

/* select */
select {
  -webkit-appearance: none;
  /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
  background: url(../images/select.svg) no-repeat 95% 45%;
  /* 화살표 모양의 이미지 */
  outline: none;
}

/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand {
  display: none;
}

/* common class */
.blind {
  display: none;
}

.emptyUserList {
  width: 1080px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.allLoadData {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  position: absolute;
  top: 0;
}

.allLoadData img {
  width: 50px;
  height: auto;
}

.ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px;
}
