/* modalMain */
#modalMain .errorMessage {
  width: 390px;
  min-width: 390px;
  height: 280px;
  min-height: 280px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -205px;
  margin-top: -140px;
  background-color: #fff;
  z-index: 100;
  visibility: visible;
  opacity: 1;
  animation: fadein 0.3s;
  border: 1px solid #dbdbdb;
}

#modalMain .errorMessage .warningImg {
  width: 390px;
  height: 140px;
  font-size: 20px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modalMain .errorMessage .errorText {
  width: 316px;
  height: 40px;
  min-height: 40px;
  font-size: 15px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  line-height: 22px;
  text-align: center;
}

#modalMain .errorMessage .buttonBox {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border-top: 1px solid #dbdbdb;
}

#modalMain .errorMessage .cancel {
  text-align: center;
  width: 194px;
  height: 65px;
  font-size: 20px;
  cursor: pointer;
  border-right: 1px solid #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

#modalMain .errorMessage .ok {
  text-align: center;
  width: 194px;
  height: 65px;
  font-size: 20px;
  cursor: pointer;
  background: none;
}

#modalMain .errorMessage .okBtn {
  text-align: center;
  width: 100%;
  height: 65px;
  font-size: 20px;
  color: #000;
  cursor: pointer;
  border-top: 1px solid #dbdbdb;
  background: none;
}

#modalMain .errorMessage .cancel:hover,
#modalMain .errorMessage .ok:hover,
#modalMain .errorMessage .okBtn:hover {
  color: #00529c;
}

#modalMainMask .mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
  visibility: visible;
  opacity: 1;
}

#modalMain .modal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  visibility: visible;
  opacity: 1;
  animation: fadein 0.3s;
  display: flex;
  justify-content: space-between;
}

#modalMain .mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 50;
  visibility: visible;
  opacity: 1;
}

#modalMain .modal button {
  background: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

#modalMain .modal button>img {
  width: 25px;
  height: 25px;
}

#modalMain .modal .downloadQna {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

#modalMain .modal .previewImage {
  position: fixed;
  left: 50px;
  top: 50px;
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

#modalMain .modal .previewImage>img {
  margin: 0 auto;
}

#modalMain .modal .preview {
  position: fixed;
  left: 50px;
  top: 50px;
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#video {
  margin-top: 50px;
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  object-fit: contain;
}

#modalMain .modal .preview>img {
  position: absolute;
}

#modalMain .questionLoading {
  position: fixed;
  top: 45%;
  left: 48%;
  width: 160px;
  height: 60px;
  background-color: #fff;
  z-index: 100;
  visibility: visible;
  opacity: 1;
  animation: fadein 0.3s;
  border: 1px solid #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modalMain .questionLoading>div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#modalMain .questionLoading img {
  width: 30px;
  margin: 10px;
}

#modalMain .questionLoading span {
  font-size: 16px;
  font-weight: bold;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
