.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(195deg, #0086FF 40%, #00529C 100%);
  min-height: 820px;
  height: 100vh;
  padding-bottom: 40px;
  position: relative;
}

.admin_link {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #fff;
  font-size: 1.8rem;
}

a:link, a:visited {
  color: #fff;
  cursor: pointer;
}

a:link:active, a:visited:active {
  color: #00529C;
}

.admin_link i:hover {
  color: #00529C;
}

.main_inner {
  width: 360px;
  height: 508px;
}

.main_logo_container {
  width: 100%;
  height: 287px;
}

.main_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 35px;
  width: 240px;
  height: 140px;
}

.main_logo h2 {
  width: 240px;
  text-align: center;
  font-size: 4.6rem;
  font-weight: 900;
  color: #00529C;
}

.main_title {
  width: 220px;
  display: block;
  height: 32px;
  margin: 0 auto;
}

.main_title h3 {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
}

.main_title p {
  color: #fff;
  margin-top: 31px;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  margin: 0 auto;
}

.sign_link_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 360px;
  height: 120px;
  margin: 30px auto;
}

.index_box{
  width: 160px;
  min-height: 140px;
  height: 100%;
  border: 1px solid #fff;
  color: #fff;
  transition: background 0.3s ease;
}

.index_box:hover {
  background: #fff;
  color: #00529c;
}

.index_box p{
  display: flex;
  justify-content: space-between;
  padding: 16px;
  font-weight: 500;
  font-size: 1.8rem;
}

.index_box p:first-child{
  font-size: 2rem;
  font-weight: bold;
}
.hidden{
  display: none;
}
