/* qnaList container */
.qna_list_container {
  width: 1080px;
  margin: 100px auto;
}

.title {
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 32px;
  vertical-align: bottom;
  margin-bottom: 12px
}

/* button */
.btn_container {
  width: 100%;
  height: 30px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.add_btn {
  height: 30px;
  display: inline-block;
  padding: 0 13px;
  background-color: #00569c;
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  line-height: 30px;
  margin-right: 10px;
  font-weight: 500;
  transition: background 0.3s ease;
}

.add_btn:hover {
  background-color: #0086ff;
}

.add_btn span {
  display: inline-block;
  margin-left: 5px;
  color: #fff;
}

.btn_container_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.find {
  width: 140px;
  height: 30px;
  display: inline-block;
  background-color: #fff;
  padding: 0 13px;
  font-size: 1.4rem;
  text-align: center;
  margin-left: 30px;
  margin-right: 15px;
  border: 1px solid #00529c;
}

.search_select {
  width: 100%;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  border: none;
  background-color: #fff;
  outline: none;
  line-height: 28px;
}

.search {
  width: 250px;
  position: relative;
  height: 30px;
  display: inline-block;
  padding: 0 10px;
  background-color: #fff;
  color: #000;
  text-align: center;
  border: 1px solid #00529c;
  align-items: center;
}

.search input {
  width: 90%;
  height: 100%;
  padding: 5px 0;
  border: none;
  outline: none;
  vertical-align: bottom;
  font-size: 1.6rem;
}

.search input::placeholder {
  color: #000;
  font-size: 1.4rem;
}

.search_btn {
  border: none;
  background: none;
  width: 16px;
  height: 16px;
  outline: none;
}

.search_btn img {
  padding-bottom: 2px;
}

/* qnaList table */
.table .thead .cell:nth-child(2) {
  width: 320px;
}

/* blind 처리 */
.qna_list_container .tbody .row .blind {
  display: none;
}
