/* header */
.main_header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  width: 100%;
  padding-left: 260px;
  margin: 0 auto;
}

header {
  text-align: left;
  position: relative;
  height: 60px;
  width: 1100px;
  border: none;
  background: #fff;
}

.header_inner {
  position: relative;
  width: 1080px;
  padding-top: 25px;
  margin: 0 auto;
}

.header_inner h2 {
  position: relative;
  left: auto;
  top: auto;
  width: auto;
  height: 25px;
  margin-left: 0;
  text-align: left;
  font-size: 2.6rem;
  font-weight: 900;
  color: #00529C;
}

/* menu */
.menu_container {
  font-weight: bold;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  display: block;
  background-color: #00529c;
  height: 100%;
  width: 260px;
  color: #fff;
}

.menu_container a {
  color: #fff;
}

.menu_inner {
  margin: 0 auto;
  margin-top: 60px;
  padding-bottom: 65px;
  width: 200px;
}

.info {
  position: relative;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 33px;
  padding-bottom: 15px;
  text-align: center;
}

.username {
  display: block;
  width: 100%;
  overflow: hidden;
  font-weight: bold;
  line-height: 22px;
  white-space: pre;
  text-overflow: ellipsis;
  font-size: 2rem;
}

.usercompany {
  overflow: hidden;
  display: block;
  width: 100%;
  margin: 8px 0 9px;
  font-weight: 500;
  word-break: break-all;
  line-height: 22px;
  white-space: pre;
  text-overflow: ellipsis;
  height: 22px;
  font-size: 1.5rem;
}

.info ul {
  height: 25px;
  width: 210px;
  display: inline-block;
}

.info li {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 25px;
  font-weight: 500;
  font-size: 1.2rem;
}

.info li a {
  line-height: 25px;
}

.info li::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  top: 8px;
  width: 1px;
  height: 10px;
  background-color: #dbdbdb;
}

.info li:last-child:after {
  content: none;
}

.menulist {
  width: 200px;
}

.menulist ul li {
  margin-left: 25px;
  margin-bottom: 22px;
  font-size: 1.8rem;
}
.slide_menu{
  margin-top: 10px;
  padding: 10px 10px;
}
.slide_menu a{
  display: block;
  margin-bottom: 10px;
}
.slide_menu a:last-child{
  margin: 0;
}

/* iframe */
.iframe_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.iframe_container iframe {
  position: relative;
  margin-left: 260px;
  width: 100%;
  height: 100%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden{
  display: none;
}
