.qna_detail_container {
  width: 1080px;
  margin: 100px auto;
}

.qna_detail_innder {
  position: relative;
}

.qna_info_title {
  display: flex;
  justify-content: space-between;
}

.qna_info_title span {
  font-size: 2rem;
  font-weight: bold;
  line-height: 25px;
}

/* qna_info */
.qna_info {
  width: 100%;
  height: auto;
  border: 1px solid #dbdbdb;
  margin-top: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info_title {
  padding: 10px 10px;
  font-size: 1.8rem;
  line-height: 22px;
  font-weight: 600;
}

.info_right_container {
  width: 260px;
  height: auto;
  text-align: right;
}

.info_state {
  margin: 10px;
}

.info_state span {
  font-size: 1.6rem;
}

.info_date {
  margin-right: 10px;
  margin-bottom: 10px;

}

.info_date span {
  font-size: 1.2rem;
}

/* qna question */
.question_container {
  width: 100%;
  height: auto;
  margin-top: 30px;
}

.question_title {
  display: flex;
  justify-content: space-between;
}

.question_title span {
  font-size: 2rem;
  font-weight: bold;
  line-height: 25px;
}

.user_info_container span {
  font-size: 1.4rem;
  font-weight: 500;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  padding: 6px;
}

.question_content {
  width: 1080px;
  height: auto;
  border: 1px solid #dbdbdb;
  margin-top: 17px;
  position: relative;
}

.question_content span {
  font-size: 1.6rem;
  display: inline-block;
  margin: 16px 16px;
}

/* qna answer */
.answer_container {
  width: 100%;
  height: auto;
  margin-top: 30px;
}

.answer_title {
  display: flex;
  justify-content: flex-start;
}

.answer_title span {
  font-size: 2rem;
  font-weight: bold;
  line-height: 25px;
}

.answer_content {
  width: 1080px;
  height: auto;
  border: 1px solid #dbdbdb;
  margin-top: 17px;
  position: relative;
}

.answer_content span {
  font-size: 1.6rem;
  display: inline-block;
  margin: 16px 16px;
}

/* button */
.button_form_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.gotolist_btn {
  width: 160px;
  height: 60px;
  border: none;
  background-color: #bababa;
  color: #fff;
  font-size: 2rem;
  transition: background 0.3s ease;
  font-weight: 400;
}

.gotolist_btn:hover {
  background-color: #C7C7C7;
}

.edit_btn {
  width: 160px;
  height: 60px;
  margin-left: 24px;
  border: none;
  background-color: #bababa;
  color: #fff;
  font-size: 2rem;
  transition: background 0.3s ease;
  font-weight: 400;
}

.on {
  background: #ED6A72;
}

.on:hover {
  background: #FF9299;
}
.hidden{
  display: none;
}
