/* pagination */
.pagination {
  text-align: center;
  margin-top: 25px;
}

.pagination a {
  display: inline-block;
  margin: 0 6px;
  padding: 0px 3px 3px;
  border-bottom: 1px solid #fff;
  color: #555;
  font-size: 1.4rem;
  line-height: 20px;
  vertical-align: middle;
}

.pagination strong {
  display: inline-block;
  margin: 0 6px;
  padding: 0px 3px 3px;
  color: #00529c;
  font-size: 1.4rem;
  line-height: 20px;
  vertical-align: middle;
}

.pagination .prevBtn {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  margin-left: 0;
  text-align: center;
}

.pagination .prevBtn img {
  vertical-align: middle;
}
.pagination .doublePrevBtn {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  margin-left: 0;
  text-align: center;
}

.pagination .doublePrevBtn img {
  vertical-align: middle;
}

.pagination .nextBtn {
  width: 24px;
  height: 24px;
  margin-left: 5px;
  margin-right: 0;
  text-align: center;
}

.pagination .nextBtn img {
  vertical-align: middle;
}
.pagination .doubleNextBtn {
  width: 24px;
  height: 24px;
  margin-left: 5px;
  margin-right: 0;
  text-align: center;
}

.pagination .doubleNextBtn img {
  vertical-align: middle;
}
