.sign_up_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(195deg, #0086ff 0%, #4DC3E0 80%);
  min-height: 100vh;
  height: auto;
  padding-bottom: 40px;
}

.sign_up_inner {
  width: 526px;
}

.main_logo_container {
  width: 100%;
}

.main_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 240px;
  height: 140px;
}

.main_logo h2 {
  width: 240px;
  text-align: center;
  font-size: 4.6rem;
  font-weight: 900;
  color: #00529C;
}

.main_title {
  width: 100%;
  display: block;
  height: 32px;
  margin: 0 auto;
}

.main_title h3 {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
}

.main_title p {
  color: #fff;
  margin-top: 31px;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  margin: 0 auto;
}

.sign_up_form {
  margin: 24px auto;
  position: relative;
  width: 420px;
}

.sign_up_form h3 {
  font-size: 1.4rem;
  color: #fff;
  display: inline-block;
  border-bottom: 1px solid #fff;
  margin: 10px 0;
}

form div+div {
  margin-top: 13px;
}

.info_form {
  width: 420px;
  height: 32px;
  position: relative;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: transparent;
}

.info_form input {
  vertical-align: middle;
  color: #fff;
  width: 100%;
  height: 100%;
  padding-left: 40px;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  font-weight: 400;
}

.info_form input[type=text]+label,
.info_form input[type=tel]+label,
.info_form input[type=email]+label,
.info_form input[type=password]+label {
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 5px;
}

.fa-address-card,
.fa-unlock-alt{
  font-size: 2rem;
  color: #fff;
}

.password_form p,
.con_password_form p {
  position: absolute;
  display: inline-block;
  right: 10px;
  bottom: 0;
  color: #ED6A72;
}

.gender_form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gender_form label {
  width: 100px;
  height: 18px;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
}

.additional_info_form{
  margin-top: 28px;
}

.info_form select {
  vertical-align: middle;
  color: #fff;
  width: 100%;
  height: 100%;
  padding-left: 40px;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  font-weight: 400;
}

.info_form select+label {
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 5px;
  width: 25px;
  height: 25px;
}


.password_form,
.con_password_form,
.major_form,
.position_form,
.com_telephone_form,
.com_fax_form {
  width: 203px;
  display: inline-block;
}

.password_form,
.major_form,
.com_telephone_form {
  margin-right: 10px;
}

.info_form:focus-within {
  border: 1px solid #00529c;
}


.sign_up_form form [type="button"] {
  width: 420px;
  height: 40px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-top: 30px;
  transition: background 0.3s ease
}

.sign_up_form input::placeholder {
  color: #fff;
}

.on {
  background-color: #00529c;
  transition: background 0.3s ease;
}

.on_placeholder input::placeholder {
  color: #ED6A72;
}

.blind{
  display: none;
}
