.sign_in_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(195deg, #4DC3E0 0%, #0086FF 80%);
  min-height: 820px;
  height: 100vh;
  padding-bottom: 40px;
}

.sign_in_inner {
  width: 360px;
  height: 508px;
}

.main_logo_container {
  width: 100%;
  height: 287px;
}

.main_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 35px;
  width: 240px;
  height: 140px;
}

.main_logo h2 {
  width: 240px;
  text-align: center;
  font-size: 4.6rem;
  font-weight: 900;
  color: #00529C;
}

.main_title {
  width: 220px;
  display: block;
  height: 32px;
  margin: 0 auto;
}

.main_title h3 {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
}

.main_title p {
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
  font-weight: 400;
  margin: 31px auto;
}

.sign_in_form {
  margin: 60px auto;
}

.sign_in_form input {
  width: 100%;
  height: 55px;
  border: 0;
  font-size: 14px;
  color: #fff;
}

.sign_in_form form div+div {
  margin-top: 13px;
}

.sign_in_form form [type="email"],
.sign_in_form form [type="password"] {
  width: 360px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  padding-left: 14px;
}

.sign_in_form form [type="button"] {
  width: 360px;
  height: 40px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-top: 30px;
  transition: background 0.3s ease
}

.sign_in_form form [type="button"]:hover {
  background-color: #00529c;
  transition: background 0.3s ease;
}

.sign_in_form input::placeholder {
  color: #fff;
}
