/* table */
.table {
  display: table;
  table-layout: fixed;
  width: 1080px;
  height: auto;
  border: 1px solid #dbdbdb;
  margin-left: 1px;
  margin-bottom: 10px;
}

.thead {
  display: table-header-group;
  width: 100%;
  font-weight: bold;
  font-size: 1.6rem;
}

.tbody {
  display: table-row-group;
  font-weight: 400;
  font-size: 1.5rem;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #000;
}

.cell input[type=checkbox] {
  display: none;
}

.cell input[type=checkbox]+label {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('../images/checkbox_off.svg');
}

.cell input[type=checkbox]:checked+label {
  background-image: url('../images/checkbox_on.svg');
}

.thead .row .cell {
  border-bottom: 1px solid #dbdbdb;
  height: 40px;
}

.tbody .row .cell {
  height: 44px;
  position: relative;
}

.thead .row .cell::after {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 20px;
  margin-top: -18px;
  background: #dbdbdb;
}

.thead .row .cell:first-child:after {
  content: none;
}

.thead .row .cell:first-of-type {
  width: 45px;
}

.tbody .row .cell::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: #f7f7f7;
}

.tbody .row .cell:first-child:before {
  width: 30px;
  right: 0;
  left: auto;
}

.tbody .row .cell:last-child:before {
  width: 90%;
}

.tbody .row:last-child .cell:before {
  content: none;
}

.tbody .row:hover {
  background: #F9F9F9;
  -webkit-box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.10);
  box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.10);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
